* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
/* banner numero-email */
.container-banner div {
  display: flex;
  margin-bottom: 10px;
}
.container-banner .number {
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.number img {
  height: 100px;
}
.number button {
  border-radius: 30%;
  padding: 5px;
}
.number button:hover {
  background-color: orange;
  transition: 0.5s;
}

/* navbar */

.navbar1 li {
  display: inline;
}

.navbar1 ul {
  display: flex;
  justify-content: space-evenly;
}

.navbar1 a {
  text-decoration: none;
  color: black;
}
.navbar1 a:hover {
  transition: 0.5s;
  color: orange;
}

/* foto forno larga */
.copertina {
  background-image: url(/locale\ interno.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 90%;
}
.copertina .titolo {
  position: absolute;
  top: 50%;
  left: 20px;
  color: beige;
  opacity: 60%;
}

/* storia sotto foto */
.story {
  background-image: url(/alora-griffiths-KT6Ui0RpdE0-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 80%;
}
.story .testo {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
}
.testo p {
  text-align: center;
  color: #ddb892;
  opacity: 70%;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

/* footer */
.info {
  color: black;
  line-height: 2.5;
  padding: 20px;
  border-top: 3px solid;
}
.info a {
  text-decoration: none;
}
.info img {
  height: 40px;
}
.info p {
  display: flex;
}
